/** { border: 2px solid red;}*/

.container {
  height: 100%;
  /*margin-top: 5%;*/
}

.panel {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  width: 500px;
}

@media all and (max-width: 64rem) {
  .main {
    max-width: 90%;
  }
}

#board {
  background: #ccc;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
#board .space {
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: left;
  line-height: 100px;
  text-align: center;
  width: 100px; height: 100px;
}
#board .space:hover {
  cursor: pointer;
  background: #ddd;
}

/* Change background picture based on class name */
#board .space.veggies {
  background: url("../img/veggies.jpg");
  background-size: 100% 100%;
}
#board .space.junkfood {
  background: url("../img/junkfood.jpg");
  background-size: 100% 100%;
}

.button {
  width: 300px;
  margin: 15 auto;
  display: block;
}
